h3{
    color:   #85766d ;
    position : absolute; 
	bottom: -3800px;
	margin: 70px;
	text-shadow: 0px 0px 5px  #5f7928 ;
	text-align: center;
	
  }
  
p{
	text-align: center;
	
}
.titre{
	position: relative;
}
body {
	background: url("fond.png") no-repeat scroll;
	background-size: cover;
	
}


